
.header-container {
	display: flex;
	position: relative;
	top: 190px;
	max-width: 700px;
	align-items: center;
	text-align: center;
	letter-spacing: 10px;
  }
  
  .header-title {
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
	font-size: 40px; 
  }
  
  .sub-header-container {
	display: inherit;
	position: relative;
	top: 220px;
	max-width: 700px;
	align-items: center;
	text-align: center;
	left: 0px;
  }
  
  .header-description {
	align-content: center;
	font-size: 27px; 
	letter-spacing: 2px;
	font-weight: 500; 
	word-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
  }
  

a.effect-shine {
	position: relative;
	display: inline-block;
	color: #000; 
	text-decoration: none;
	background: linear-gradient(
	  -65deg,
	  #000 30%, 
	  #fff 50%, 
	  #000 70% 
	);
	background-size: 300%; 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent; 
	animation: shine 4s linear infinite ; 
  }
  
  @keyframes shine {
	0% {
	  background-position: 150% 0;
	}
	100% {
	  background-position: -50% 0;
	}
  }
  





  